@import url(Styles/Cabecalho.css);
@import url(Styles/Mensagem_boas_vindas.css);
@import url(Styles/introducao.css);
@import url(Styles/Informacoes.css);
@import url(Styles/footer.css);
@import url(Styles/Pag_experiencias.css);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fonte-cabeçalho: "Anton", sans-serif;
    --fonte-subtitulo: "PT Serif", serif;
    --fonte-padrão: 'Roboto', sans-serif;
    --background-cabeçalho: #DE7423;
    --backgroud-navegacao: #DEAA23;
    --background-body: #f0f0f0;
}

body{
    font-family: var(--fonte-padrão);
    background-color: var(--background-body);
}



