@import url(Styles/Cabecalho.css);
@import url(Styles/Menu_navegacao.css);
@import url(Styles/Imagem.css);
@import url(Styles/Experiencia.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fonte-cabeçalho: "Anton", sans-serif;
    --fonte-subtitulo: "PT Serif", serif;
    --fonte-padrão: 'Roboto', sans-serif;
    --background-cabeçalho: #F28907;
    --backgroud-Boas_vindas: #A44412;
    --background-body: #f0f0f0;
}

body{
    font-family: var(--fonte-padrão);
    background-color: var(--background-body);
}



