.box_informações{
  background-color: white;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.titulo_info{
    font-family: var(--fonte-subtitulo);
    text-decoration: underline;
    padding: 0.8em 0.5em 0.5em 0.5em;
    text-align: center;
}

.lista_informações {
  list-style-type: disc;   
  padding: 0.5em 0.5em 0.5em 2em; 
}

.lista_informações li {
  margin-bottom: 0.5em; 
}