.introdução{
  display: flex;
  justify-content: center; 
  
}

.imagem_perfil {
  width: 150px;      
  height: 150px;     
  object-fit: cover; 
  border-radius: 50%;
  border: 2px solid var(--background-cabeçalho);
  display: block;
  margin: 0 auto;
}

.titulo_intodução{
    font-family: var(--fonte-padrão);
    font-size: large;
    text-decoration: underline;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.texto_introdutorio{
  font-family: var(--fonte-subtitulo);
  text-align: center;    
  padding: 0 0.6em 1em 0.6em;
  word-spacing: 0.1em;
  line-height: 1.3; 
}