.container__mensagem{
    margin-top: 1em;
    text-align: center;
    padding: 1em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.container__mensagem{
    background-color: var(--backgroud-Boas_vindas);
    color: white;
    font-family: var(--fonte-padrão);
}