
.menu__navegação{
    background-color: var(--backgroud-menu_navegação);
    width: 100%;
    display: flex;
    flex-direction: column; /* Faz os elementos ficarem um embaixo do outro */
    align-items: center;     /* Se quiser centralizar horizontalmente */
    gap: 1em;     
}

.menu_titulo{
    font-family: var(--fonte-padrão);
    color: white;
    margin-top: 0.5em;
}

.menu__lista img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}

.titulo_link{
    text-decoration: none;
    color: #d2d3c6;
    font-family: var(--fonte-padrão);
    font-size: 0.9em;
}